{% extends 'base.html' %}
{% load static %}
{% block title %} Change Password {% endblock %}
{% block css %}
{% endblock %}

{% block body %}
<form  method="POST" name="change_password" onsubmit="return checkPassword()">
    {% csrf_token %}
    <div class="container mt-5">
         <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card px-5 py-5">
<div class="form-data">
    <div class="row mt-4">
        <div class="forms-input col-md-6">
            <span>Username</span>
            <input type="text" class="form-control mt-2" name="username" value="{{request.user}}" readonly>
        </div>
        <div class="forms-input col-md-6">
            <span>Current Password</span>
            <input type="password" class="form-control mt-2" name="current_password" placeholder="Current Password">
        </div>
    </div>

    <div class="row mt-4">
        <div class="forms-input col-md-12">
            <span>New Password</span>
            <input type="password" class="form-control mt-2" name="new_password" placeholder="Enter the new password">
        </div>
    </div>

    <div class="row mt-4">
        <div class="forms-input col-md-12">
            <span>Confirm Password</span>
            <input type="password" class="form-control mt-2" name="confirm_password" placeholder="Confirm the new password">
        </div>
    </div>
    <br><br>

    <div class="mb-3"> <button class="btn btn-primary w-100">Submit</button> </div>
</div>

</div></div></div></div>
</form>
{% endblock %}

{% block js %}
<script>
    function checkPassword() {
        if (document.change_password.new_password.value != document.change_password.confirm_password.value) {
            alert("New Password and Confirm Password fields does not match each other.");
            document.change_password.confirm_password.focus();
            return false;
        }
        return true;
    }

    {% if alert %}
    alert("Password Updated Successfully.");
    document.location = "/logout"
    {% endif %}

    {% if currpasswrong %}
    alert("Current Password is wrong..");
    document.location = "/change_password"
    {% endif %}
</script>
{% endblock %}

